<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.alloyteam.com" target="_blank">AlloyTeam</a>|
            <a class="link" href="http://fex.baidu.com" target="_blank">FEX</a>|
            <a class="link" href="http://taobaofed.org" target="_blank">FED</a>|
            <a class="link" href="https://75team.com" target="_blank">奇舞团</a>
        </div>
        <p class="copyright">Copyright © 2018-04-21 Huaihai Yi</p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>